name: Update gist with WakaTime stats
on:
  schedule:
    - cron: "*/1 * * * *"
jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: waka-box
        uses: matchai/waka-box@master
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: f7c982c0d03c9ec78d6757f330c8a6cb
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
